numpy==1.26.4
pandas==2.2.3
scipy==1.13.1

great_expectations==1.10.0
pydantic==2.12.5

scikit-learn==1.5.1
xgboost==2.1.1
optuna==3.6.1
category-encoders==2.6.3
imbalanced-learn==0.12.3

mlflow==2.17.0
joblib==1.4.2

fastapi==0.115.0
uvicorn[standard]==0.30.6

matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
streamlit==1.38.0

pytest==8.3.3
boto3==1.35.6
pyyaml==6.0.2
